[Unit]
Description=Hibernate when charge less than or equal to 8%

[Service]
ExecStart=<absolute path to the "AutoHibernate.py">
Restart=always
WorkingDirectory=<absolute path to the directory containing "AutoHibernate.py">

[Install]
WantedBy=multi-user.target
